body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111; /* dark background */
  color: #fff; /* default text color */
}

a {
  text-decoration: none;
  color: #1e90ff;
}

a:hover {
  color: #63b3ed;
}

button {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover {
  background-color: #63b3ed;
}
